<ul>
  <h2>Homework</h2>
  <li>
    <input type="checkbox"></input>
    <span>"Complete all missed assignments - Physics"</span>
    <strong>"4 pomodoros"</strong>
  </li>
  <li>
    <input type="checkbox"></input>
    <span>Study rehtoric section for quiz - Communications</span>
    <strong>2 pomodoros</strong>
  </li>
  <li>
     <input type="checkbox"></input>
     <span>Complete lab assignment #4 - AP Computer Science</span>
     <strong>3 pomodoros</strong>
  </li>
</ul>
